{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About new site</title>
</head>
<body>
    {% block body%}
    <div class="about">
        <h1>{{about}}</h1>
        <h1>Multipurpose Template</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, asperiores. Ipsam nobis molestiae facilis, sit est quibusdam nulla, esse pariatur sequi ratione id quis quia quaerat quidem earum quod. Neque?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, asperiores. Ipsam nobis molestiae facilis, sit est quibusdam nulla, esse pariatur sequi ratione id quis quia quaerat quidem earum quod. Neque?</p>
        <button type="button" id="btn" class="btn btn-outline-primary">Home</button>
        <button type="button" id="btn" class="btn btn-outline-primary">Contact</button>
    </div>
    {% endblock %}
</body>
</html>