{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>New site</title>
</head>
<nav class="navbar navbar-expand-lg " >
    <a href="#" class="navbar-brand"><img src="{% static 'img/book.jpg' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="navbar-nav" >
            <a class="nav-item nav-link active" href="{ url 'base'}">About<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{ url 'about'}">Who We are</a>
            <a class="nav-item nav-link" href="{ url 'contac'}">Contact Us</a>
        </div>
    </div>
</nav>

<body>
    <div class="main">
        <h1>{{title}}</h1>
    </div>
    <div class="container">
        <div class="card-group">
            <div class="card">
                <img src="{% static 'img/book.jpg' %}">
                <div class="card-body">
                    <h5 class="card-title">text here</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/book.jpg' %}">
                <div class="card-body">
                    <h5 class="card-title">text here</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'img/book.jpg' %}">
                <div class="card-body">
                    <h5 class="card-title">text here</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        {% block body %}
        {% endblock %}
    </div>

    <div id="contact-form" class="row">
        <div class="columns six">
            <h1>Entre em contato</h1>
            <ul>
                <li><strong>email</strong>contato@contacus.com</li>
                <li><strong>slack</strong>contacus.slack.com</li>
                <li><strong>telefone</strong>+55 11 727 394 718</li>
            </ul>
        </div>
        <div class="columns six">
            <form>
                <div class="input-group">
                    <label>Nome</label>
                    <input name="name" type="text" />
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input name="email" type="email" />
                </div>
                <div class="input-group">
                    <label>Assunto</label>
                    <input name="subject" type="text" />
                </div>
                <div class="input-group">
                    <textarea name="textarea" rows="50" cols="50">Escreva sua mensagem aqui.</textarea>
                    <button>Enviar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>