{% extends "base.html"%}
{% block contact %}

<div class="contact">
    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sed cupiditate illum ex accusantium possimus omnis consectetur, aliquam labore delectus natus odio laboriosam cumque iste necessitatibus doloribus ab similique voluptatum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sed cupiditate illum ex accusantium possimus omnis consectetur, aliquam labore delectus natus odio laboriosam cumque iste necessitatibus doloribus ab similique voluptatum?</h4>
</div>

{%endblock%}